:root {
    --text-color: #000000;
    --bg-color: #ffffff;
}

.darktheme {
    --text-color: #ffffff;
    --bg-color: #000000;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: var(--text-color);
    }
}

.bgcolor {
    background-color: var(--bg-color);
    height: 100vh;
}

.formlogin {
    position: relative;
    width: 50%;
    height: auto;
    top: 150px;
    margin: auto;
    background-color: gray;
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 120px;

    .content {
        height: 100% auto;

        .formheader {
            text-align: center;
        }

        .inputs {
            display: grid;
            flex-direction: column;
            width: 210px;
            margin: auto;
            margin-bottom: 10px;
            padding-top: 10px;
            gap: 10px;
            align-items: center;
            justify-content: center;

            button {
                margin-bottom: 10px;
            }
        }
    }

    button:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
}
