.bgcolor {
    background-color: var(--bg-color);
    height: 100vh;
}

.signup {
    display: grid;
    position: relative;
    top: 150px;
    border-radius: 10px;
    height: auto;
    width: 50%;
    margin: auto;
    background-color: gray;

    .formheader {
        text-align: center;
    }

    .modalbody {
        margin-bottom: 1.5rem;
        display: grid;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .check {
        display: flex;
    }

    button:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
}
