* {
    margin: 0px;
    padding: 0px;
}

$colorNameShop: #fff;

.header {
    display: grid;
    position: fixed;
    background-color: coral;
    width: 100%;
    height: 125px;
    grid-template-columns: 4fr 4fr;
    z-index: 100;

    .content {
        display: grid;
        grid-template-rows: 2fr 2fr;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
    }

    h2 {
        color: $colorNameShop;
        justify-self: flex-start;
        align-self: center;
        white-space: nowrap;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        background: linear-gradient(blue, yellow);
        transform: rotate(-15deg);
    }
}

@media screen and (max-width: 720px) {
    .header {
        height: 90px;
        h2 {
            padding: 5px;
            transform: rotate(0deg);
        }
    }
}
