.content {
    display: inline-flex;
    .pagination {
        padding: 5px;
        margin-top: 10px;
        margin: auto;
        
        li {
            list-style-type: none;
        }

        .pageitem {
            display: inline-flex;
            padding: 5px;

            button {
                font-size: 21px;
            }
        }
    }
}
