* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100px;
    background-color: rgb(236, 160, 45);

    .leftcontent {
        display: flex;
        flex-direction: row;

        .logo {
            position: relative;
            top: 12px;
            margin-left: 12px;
            width: 70px;
            height: 70px;
        }

        .title {
            display: flex;
            margin-left: 12px;
            font-size: 21px;
            color: white;
            font-weight: bolder;
            align-items: center;
            text-decoration: underline wavy 2px rgb(20, 175, 236);
        }
    }

    .midcontent {
        position: relative;
        display: flex;
        align-items: center;

        .npt {
            font-size: 21px;
            width: 100%;
            height: 35px;
            outline: none;
            position: absolute;
        }
    }

    .rightcontent {
        display: flex;
        flex-direction: row;
        align-items: center;

        .cart {
            margin-left: auto;
            margin-right: 17px;
            display: block;
            // top: 12px;
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            padding: 7px;
            
            
            .img {
                cursor: pointer;
                position: relative;
                // top: -21px;
            }
        }
        .totalItems {
            display: flex;
            position: relative;
            right: 33px;
            top: -20px;
            font-size: larger;
            padding: 0 5px 0 5px;
            border-radius: 100%;
            background-color: red;
            color: white;
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        height: 87px;

        .rightcontent {
            .cart {
                width: 30px;
                height: 30px;
            }

            .totalItems {
                display: flex;
                position: relative;
                right: 33px;
                top: -12px;
                font-size: small;
                padding: 0 5px 0 5px;
                border-radius: 100%;
                background-color: red;
                color: white;
            }
        }

        .midcontent {
            .npt {
                margin-right: auto;
                height: 21px;
            }
        }

        .leftcontent {
            .logo {
                display: flex;
                position: relative;

                .imglogo {
                    width: 50px;
                }
            }

            .title {
                margin-right: 50%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: 87px;

        .rightcontent {
            .cart {
                width: 30px;
                height: 30px;
            }
        }

        .midcontent {
            .npt {
                margin-right: auto;
                height: 21px;
            }
        }

        .leftcontent {
            .logo {
                display: flex;
                position: relative;

                .imglogo {
                    width: 50px;
                }
            }

            .title {
                margin-right: 50%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: 87px;

        .rightcontent {
            .cart {
                width: 30px;
                height: 30px;
            }

            .totalItems {
                display: flex;
                position: relative;
                right: 33px;
                top: -12px;
                font-size: small;
                padding: 0 5px 0 5px;
                border-radius: 100%;
                background-color: red;
                color: white;
            }
        }

        .midcontent {
            .npt {
                margin-right: auto;
                height: 21px;
            }
        }

        .leftcontent {
            .logo {
                display: flex;
                position: relative;

                .imglogo {
                    width: 50px;
                }
            }

            .title {
                margin-right: 50%;
            }
        }
    }
}
